<div class="hero">
  <h1 class="hero__title">powRSS</h1>
  <p class="hero__tagline">Find and read RSS feeds</p>
</div>

<form action="feed" method="post" onsubmit="return validateURL()">
  <input id="feed_url" type="text" name="feed_url" required placeholder="example.com/feed" spellcheck="false" style="max-width: 720px; margin-inline: auto;">
  <input id="submit-btn" type="submit" value="Search" style="display: block; margin-inline: auto;">
</form>

<div class="suggestions">
  <p>Suggestions:</p>
  <ul>
    <li><a href="https://rss.beehiiv.com/feeds/4aF2pGVAEN.xml">News Minimalist</a></li>
    <li><a href="https://news.ycombinator.com/rss">Y Combinator's Hacker News</a></li>
    <li><a href="https://bearblog.dev/discover/feed">Bear Blog Trending Posts</a></li>
    <li><a href="https://retiredmartin.com/feed">retiredmartin</a></li>
    <li><a href="https://dc20011.blogspot.com/feeds/posts/default">20011</a></li>
    <li><a href="https://manuelmoreale.com/feed/peopleandblogs">People and Blogs - All Interviews (80+)</a></li>
    <li><a href="https://world.hey.com/dhh/feed.atom">David Heinemeier Hansson</a></li>
    <li><a href="https://www.theverge.com/rss/index.xml">The Verge</a></li>
  </ul>

</div>

<script src="javascripts/script.js"></script>
