<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="powRSS" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/digitallytailored/classless@latest/classless.min.css">
    <title>powRSS - Find and read RSS feeds</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-width: 920px;
      }
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & div.navmenu {
          display: flex;
          justify-content: space-around;
          gap: 1rem;
        }

        & div.logo {
          display: flex;
          align-items: center;
          gap: 1rem;

          & img {
            height: 80px;
            width: 80px;
          }
        }
      }

      main {
        margin-block: 2rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/apple-touch-icon.png" alt="powRSS Logo">
        <h1>powRSS</h1>
      </div>
      <div class="navmenu">
        <a href="/">Home</a>
        <a href="/about">About</a>
      </div>
    </nav>

    <main style="flex-grow: 1">
      <%= yield %>
    </main>
    <footer>
      <p style="text-align: center; font-size: 80%; color: gray;">©<%= Time.now.year%> Pablo Cortez. <a href="https://github.com/cspablocortez/powrss">Source code</a> licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html#license-text">GNU GPL v3</a>.</p>
    </footer>
  </body>
</html>
