:root {
  --font-size-base: 1.15rem;
  --gradient-primary: linear-gradient(135deg, #004aad 0%, #1a67e1 100%);
}

button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  background-color: #f0f0f0;
  min-height: 48px;
  min-width: 100px;
  position: relative;
}

/* Create the loading spinner using ::after pseudo-element */
button:empty::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 16px;
  height: 16px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #ecf7ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 3px rgb(0 74 173 / 12%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 920px;
}

div.hero {
}

img.hero__logo {
  display: block;
  margin-inline: auto;
  height: 60px;
  width: 60px;
}

h1.hero__title {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

p.hero__tagline {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  height: 60px;
  width: 60px;
}

.navbar__menu {
  align-items: center;
  display: flex;
  gap: 1rem;

  & a,
  a:visited {
    color: #004aad;
    text-transform: uppercase;
    font-weight: 500;
  }

  & a:hover {
    opacity: 0.82;
  }
}

main {
  margin-block: 2rem;
  flex-grow: 1;
}

.suggestions {
  margin-top: 4rem;
}

@media screen and (min-width: 600px) {
  img.navbar__logo {
    height: 80px;
    width: 80px;
  }

  .suggestions {
    margin-top: 6rem;
  }

  .suggestions ul {
    columns: 2;
  }
}
